@font-face {
  font-family: quickSand_light;
  src: url('/assets/fonts/Quicksand-Light.ttf');
}

@font-face {
  font-family: quickSand_medium;
  src: url('/assets/fonts/Quicksand-Medium.ttf');
}

.App {
  text-align: center;
}

body {
  background-color: #eee;
  font-family: quickSand_light;
}

button {
  color: #444;
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 10px 15px ;
  box-shadow: 0px 6px 5px 0px #4444441f;
  font-size: 1.2em;
  transition: .6s;
  margin: 5px;
}
button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
button:focus {
  border: none;
  outline: none;
}
button:active:hover {
  box-shadow:
    0px 6px 5px 0px #4444441f,
    inset 0px 0px 5px 0px #736ffe;
}
button:hover {
  transition: .3s;
  transform: translateY(-3px);
  box-shadow: 0px 9px 15px 0px #44444450;
  background-color: #8a48fe90;
  color: #fff;
  animation: diff-colors infinite 2s ease-in-out;
  filter: blur(0px);
}

@keyframes diff-colors {
  0% {background-color: #8a48fe90;}
  50% {background-color: #589cfd90;}
  100% {background-color: #8a48fe90;}
}

// .row {
//   // padding-left: 200px;
//   // padding-right: 500px;
// }

// .container-fluid {
//   margin: 0 !important;
//   padding: 0 !important;
// }

.divider {
  width: 10px;
  height: auto;
  display: inline-block;
}

form {
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
  margin-right: 10px;
}
