// Styles applying to all links except directed graphs
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
.link-traversed {
  fill: none;
  stroke: #ff0000;
  stroke-width: 4px;
  animation: fade-in-active-link 1s;
}

@keyframes fade-in-active-link {
  from {
    stroke: #ccc;
    stroke-width: 2px;
  }
  to {
    stroke: red;
    stroke-width: 4px;
  }
}

// Undirected Graph styles
.fade-out-link {
  animation: fadeout 0.5s ease-in;
  fill: none;
  stroke: rgba(50, 50, 50, 0.2);
  stroke-width: 1px;
}
@keyframes fadeout {
  from {
    stroke: #ff0000;
    stroke-width: 4px;
  }
  to {
    stroke: rgba(50, 50, 50, 0.2);
    stroke-width: 1px;
  }
}

// Directed Graph Styles
.link-of-interest-ts {
  stroke: blue;
  animation: fadein-link-ts 0.5s;
}

@keyframes fadein-link-ts {
  from {
    stroke: #ccc;
  }
  to {
    stroke: blue;
  }
}

.heap-link {
  fill: none;
}
