.navigation {
  animation-name: fade-in;
  // animation-duration: 4s;
  // animation-delay: 2s;
  animation-duration: 0s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.navigation nav {
  z-index: 20;
}

.header-logo {
  width: 100px;
  margin-left: 50px;
}

.nav-link {
  font-family: quickSand_medium;
  font-size: x-large;
  letter-spacing: 2px;
  padding: 0 30px !important;
}

.dropdown-menu {
  background-color: #eeeeeee3;
}

.dropdown-item {
  text-align: center;
  color: #333 !important;
}

.dropdown-item.active {
  background: none;
}

.dropdown-item:hover {
  background: #e6e6e6;
  transition: 0.5s;
  color: #8787fe !important;
}

.dropdown-toggle {
  transition: 0.5s;
}

.dropdown-toggle:after {
  content: none !important;
}

.dropdown-toggle:hover {
  transition: 0.2s;
  background: rgb(81, 166, 252);
  background: -moz-linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
  background: linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.burgerContainer {
  padding: 0 50px;
}
.burgerContainer:hover {
  cursor: pointer;
}
.burgerIcon {
  background: rgb(81, 166, 252);
  background: -moz-linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
  background: linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
}
.burgerContainer:hover .burgerIcon:nth-of-type(1) {
  transform: translateY(11px) rotate(-45deg);
  transition: 0.5s;
  background: rgb(81, 166, 252);
  background: -moz-linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
  background: linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
}
.burgerContainer:hover .burgerIcon:nth-of-type(2) {
  opacity: 0;
  transform: scale(0.5) rotate(360deg);
  transition: 0.5s;
}
.burgerContainer:hover .burgerIcon:nth-of-type(3) {
  transform: translateY(-11px) rotate(45deg);
  transition: 0.5s;
  background: rgb(81, 166, 252);
  background: -moz-linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
  background: linear-gradient(
    149deg,
    rgba(81, 166, 252, 1) 0%,
    rgba(149, 55, 255, 1) 100%
  );
}
.burgerIcon {
  width: 35px;
  height: 5px;
  background-color: #444;
  margin: 6px 0;
  border-radius: 50px;
  transition: 0.5s;
}
.burgerIcon:nth-of-type(1) {
  margin-left: 4px;
}
.burgerIcon:nth-of-type(2) {
  width: 43px;
}
.burgerIcon:nth-of-type(3) {
  margin-left: 4px;
}

@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}