text {
  pointer-events: none;
}

.node-nn:hover {
  stroke: #e76dff;
  stroke-opacity: 0.8;
  stroke-width: 8px;
}

.active-node-nn-forward {
  stroke: #e76dff;
  stroke-opacity: 0.8;
  stroke-width: 5px;
  animation: fade-in-active-node-nn-forward 1s;
}

@keyframes fade-in-active-node-nn-forward {
  from {
    stroke: #999;
    stroke-width: 3px;
  }
  to {
    stroke: #e76dff;
    stroke-width: 5px;
  }
}

.active-node-nn-backward {
  stroke: red;
  stroke-opacity: 0.8;
  stroke-width: 5px;
  animation: fade-in-active-node-nn-backward 1s;
}

@keyframes fade-in-active-node-nn-backward {
  from {
    stroke: #999;
    stroke-width: 3px;
  }
  to {
    stroke: red;
    stroke-width: 5px;
  }
}

.link-nn {
  stroke: #999;
  stroke-opacity: 0.6;
  stroke-width: 3px;
}

.link-nn:hover {
  stroke-width: 8px;
  stroke: #e76dff;
}

.active-link-nn-forward {
  stroke-width: 8px;
  stroke: #e76dff;
  animation: fade-in-active-link-nn-forward 1s;
}

@keyframes fade-in-active-link-nn-forward {
  from {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 3px;
  }
  to {
    stroke: #e76dff;
    stroke-width: 8px;
  }
}

.active-link-nn-backward {
  stroke-width: 8px;
  stroke: red;
  animation: fade-in-active-link-nn-backward 1s;
}

@keyframes fade-in-active-link-nn-backward {
  from {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 3px;
  }
  to {
    stroke: red;
    stroke-width: 8px;
  }
}

.nn-matrix {
  border: none;
  border-collapse: collapse;
}

.nn-matrix td {
  padding: 0 20px;
  border: none;
  // border-collapse: separate;
  // border-radius: 20px;
  font-family: Computer Modern;
}
.nn-matrix td {
  z-index: 5;
}

// .nn-matrix td:hover {
//   background-color: #fffc60;
// }

.active-nn-matrix {
  background-color: #e76dffdc;
}

.active-equation {
  background-color: #e76dffdc;
  border-radius: 5px;
}

.left {
  border-left: 1px solid black !important;
}

.left:hover {
  background-color: #e76dff;
}

.right {
  border-right: 1px solid black !important;
}

.right:hover {
  background-color: #e76dff;
}

.left-and-right {
  border-right: 1px solid black !important;
  border-left: 1px solid black !important;
}

.left-and-right:hover {
  background-color: #e76dff;
}

.nn-equation {
  margin: 10px 0px 10px 0px;
  padding: 2px 5px;
}
