table {
  border-collapse: collapse;
  text-align: center;
}

td {
  border: 1px solid black;
}
table {
  margin-bottom: 100px;
}

.distance-table {
  margin-top: -100px;
}

.dijkstra-table {
  margin-top: -100px;
}
