.current-node-of-interest {
  fill: green;
  animation: colorin-current-node-of-interest 0.1s;
}
@keyframes colorin-current-node-of-interest {
  from {
    fill: grey;
  }
  to {
    fill: green;
  }
}

.fade-out-link {
  animation: fadeout 1s ease-in;
  fill: none;
  stroke: rgba(50, 50, 50, 0.2);
  stroke-width: 1px;
}
@keyframes fadeout {
  from {
    stroke: #ff0000;
    stroke-width: 4px;
  }
  to {
    stroke: rgba(50, 50, 50, 0.2);
    stroke-width: 1px;
  }
}


