#sort-container {
    margin-top: 30px;
}

.error-btn {
    background: red;
}

.code-line {
    display: table;
    padding: 5px 10px;
    transition: .5s;
    font-size: 18px;
}

.code-line.active {
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 0px 5px 5px 0px #0000001f;
    transition: .5s;
}