.current-node-of-interest {
  fill: green;
  animation: colorin-current-node-of-interest 0.5s;
}
@keyframes colorin-current-node-of-interest {
  from {
    fill: grey;
  }
  to {
    fill: green;
  }
}

.current-node-of-interest-from-blue {
  fill: green;
  animation: colorin-current-node-of-interest-from-blue 0.5s;
}
@keyframes colorin-current-node-of-interest-from-blue {
  from {
    fill: blue;
  }
  to {
    fill: green;
  }
}
.current-neighbor-of-interest {
  fill: blue;
  animation: colorin-current-neighbor-of-interest 0.5s;
}
@keyframes colorin-current-neighbor-of-interest {
  from {
    fill: grey;
  }
  to {
    fill: blue;
  }
}

.node-done {
  fill: white;
  animation: done-node 0.5s;
}
@keyframes done-node {
  from {
    fill: green;
  }
  to {
    fill: white;
  }
}

.fade-out-link {
  animation: fadeout 1s ease-in;
  fill: none;
  stroke: rgba(50, 50, 50, 0.2);
  stroke-width: 1px;
}
@keyframes fadeout {
  from {
    stroke: #ff0000;
    stroke-width: 4px;
  }
  to {
    stroke: rgba(50, 50, 50, 0.2);
    stroke-width: 1px;
  }
}

.ts-link-of-interest {
  stroke: blue;
  animation: ts-fadein 0.5s;
}

@keyframes ts-fadein {
  from {
    stroke: #ccc;
  }
  to {
    stroke: blue;
  }
}

.updated-value {
  animation: fadeinoutcell 1s;
}

@keyframes fadeinoutcell {
  0%,
  100% {
    background-color: '';
  }
  70% {
    background-color: yellow;
  }
}
